---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tea today is delicious">
  <main>
	<div class="relative flex h-screen">
		<div class="w-3/5">
		  <img
			src="/public/a823ff6bdd05ad85b615988a96e28739.jpg"
			class="w-full h-full object-cover object-center cut"
		  />
		</div>
		<div class="absolute w-2/5 h-full right-0 flex items-center">
		  <div class="text-center p-4">
			<p class="text-6xl">Discover various flavours of tea</p>
			<p class="text-xl mt-4">
			  Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
			  phasellus mollis sit aliquam sit nullam neque ultrices.
			</p>
		  </div>
		</div>
	  </div>

	  <div class="h-96"></div>
  </main>
</Layout>

<style>
  main {
    padding: 0;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .cut {
    clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
  }
</style>
