---
import Layout from "../layouts/Layout.astro";
import TeasList from "../components/TeasList.astro";
import ResepesList from "../components/ResepesList.astro";
---

<Layout title="Tea today is delicious">
  <main>
    <div class="relative flex">
      <div class="w-3/5 height-fing">
        <img
          src="/public/img/background/pexels-lulizler-3920505.jpg"
          class="w-full object-cover object-center cut h-full"
        />
      </div>
      <div class="absolute w-2/5 right-0 flex items-center height-fing">
        <div class="text-center p-4 text-textColor-light">
          <p class="text-8xl">Discover various flavours of tea</p>
          <p class="text-2xl mt-4">
            Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
            phasellus mollis sit aliquam sit nullam neque ultrices.
          </p>
        </div>
      </div>
    </div>

    <TeasList />

    <div class="relative flex">
      <div class="flex w-3/5 height-fing">
        <img
          src="/public/img/background/pexels-daniela-constantini-5591737.jpg"
          class="absolute w-full object-cover object-center cut-2 h-full -z-10"
        />
      </div>
      <div class="absolute w-2/5 right-0 flex flex-col">
        <div class="text-center py-48 text-textColor-light">
          <p class="text-8xl">Discover various flavours of tea</p>
        </div>

        <ResepesList />
      </div>
    </div>
    <div class="h-96"></div>
  </main>
</Layout>

<style>
  main {
    padding: 0;
    max-width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .cut {
    clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
  }

  .cut-2 {
    clip-path: polygon(0% 0%, 60% 0%, 37% 100%, 0% 100%);
    object-fit: cover;
  }

  .second-img-h {
    height: 100vh;
  }

  .height-fing {
    height: 100vh;
  }
  .max-width-fing {
    max-width: 1080px;
  }
</style>
