<nav class="bg-white">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div id="logo" class="hidden flex-shrink-0 items-center sm:justify-start 
        sm:flex">
          <!-- <img class="h-8 w-auto px-2" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"> -->
          <p class="text-textColor-light">
            Logo
          </p>
        </div>

        <div id="selecstion" class="flex space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-white bg-mainColor-light" aria-current="page">Dashboard</a>
          <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white">Team</a>
          <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white">Projects</a>
          <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white">Calendar</a>
        </div>
      </div>
    </div>
  </div>
</nav>
