---
import Logo from "./Logo.astro";
---

<nav class="bg-white z-50 fixed w-full">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between text-mainColor-dark"
      >
        <Logo/>

        <div id="selecstion" class="flex space-x-4">
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-white bg-mainColor-light"
            aria-current="page">Home</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white"
            >Team</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white"
            >Benefits</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-textColor-light hover:bg-gray-500 hover:text-white"
            >Recipes</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
