---
interface Page {
  frontmatter: {
    title: string;
    bg_img: string;
    url: string;
    hover_text: string;
  };
}

const setBackgroundImage = (img) => {
  return {
    backgroundImage: `url('/public/img/teas/${img}.webp')`,
    backgroundPosition: `center`,
    backgroundSize: `contain`,
  };
};

const pages = Object.values(
  await import.meta.glob<Page>("../pages/recipe/*.md", { eager: true })
).slice(0, 6);
---

<div class="flex flex-row flex-wrap justify-center items-center">
  {
    pages.map((page) => (
      <div
        class="card bg-mainColor-dark rounded-2xl m-4"
        style={setBackgroundImage(page.frontmatter.bg_img)}
      >
        <p class="text-textColor-dark px-3">{page.frontmatter.title}</p>
      </div>
    ))
  }
</div>

<style>
  .card {
    width: 10em;
    height: 10em;
  }
</style>
