---
import Logo from "./Logo.astro"
---

<nav class="w-full h-20  px-6 bg-black flex flex-row items-center justify-between">
  <div class="left-0 pb-4" id="logo">
    <Logo/>
  </div>
  <div class="flex flex-row gap-4" id="tabs">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
  <div id="modes">
      
  </div>
  </div>
</nav>

<style>

</style>
