---
const { text, link } = Astro.props;
---

<div class="flex justify-center align-center" >
  <a class="bg-light w-max font-medium rounded-lg px-12 py-4 " href={link}>
    <p
      id="buttontext"
      class="Text text-dark-green leading-none flex w-max "
    >
      {text}
    </p>
  </a>
</div>
