---
import Layout from "../layouts/layout.astro";
---

<Layout title="Tea today is delicious">
  <main>
    <div class="h-screen w-screen object-cover overflow-hidden">
      <img
        class="h-screen object-cover"
        style="max-width: 1000%; max-height: 1000%; width: 100vw; object-position: 100% 50%; transform: scaley(-1);"
        src="/public/img/background/a823ff6bdd05ad85b615988a96e28739.jpeg"
        alt=""
      />
    </div>
    P
  </main>
</Layout>
