---
import Layout from "src/layouts/layout.astro";
---

<Layout title="The Profile" language="en">
  <div id="Block-1" class="flex pt-16 justify-center items-center">
    <div class="flex flex-col items-center">
      <p class="Headline-2">So Working with DataBase</p>
      <p class="Text mt-6 text-center">
        In here, I will work on updating data from the DB, deleting from the DB,
        and listing from all DBs while connected to all of them.
      </p>
    </div>
  </div>

  <div id="Block-2" class="flex pt-16 mx-16 flex-col">
    <!-- random tea, random comment to upadate -->

    <div class="flex justify-center Headline-2 text-light mb-12">Update</div>

    <div class="flex justify-between">
      <div class="w-1/2 text-center flex flex-col items-center justify-center">
        <div class="flex flex-row items-center justify-center">
          <p class="Text text-light">
            The Random Tea with Random comment to be
          </p>
          <p class="Text !font-bold text-light ml-2">UPDATED</p>
          <p class="Text text-light">, and you got comment on</p>
        </div>

        <div class="flex flex-row items-center justify-center">
          <p id="teaNmae" class="Text !font-bold text-light mr-2"></p>
          <p class="Text text-light">And comment form</p>
          <p id="CommenterNmae" class="Text !font-bold text-light ml-2"></p>
        </div>
      </div>

      <div class="w-1/2 flex">
        <div
          class="h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0 items-center ml-auto"
        >
          <form
            action=""
            method="post"
            class="h-full w-full flex flex-col items-center"
          >
            <input type="hidden" name="comment_id" id="commentId" value="" />
            <textarea
              class="Text text-black pt-6 px-6 h-full w-full resize-none overflow-auto text-justify bg-transparent outline-none placeholder-black/70"
              name="comment"
              placeholder="Type your comment ..."
              id="comment"></textarea>
            <button
              class="bg-dark-green w-min py-1 px-4 rounded-xl text-light mb-2"
              id="comment_button"
              value="Comment"
              name="form_type">Comment</button
            >
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    document.addEventListener("DOMContentLoaded", () => {
      fetch("/api/get_comment")
        .then((response) => response.json())
        .then((data_from_db) => {
          renderOneComment(data_from_db);
        })
        .catch((error) => console.error("Error fetching initial data:", error));
    });

    function renderOneComment(data) {
      const comment = document.getElementById("comment");
      const commenterNmae = document.getElementById("CommenterNmae");
      const teaNmae = document.getElementById("teaNmae");
      const commentId = document.getElementById("commentId");

      commentId.value = data[0]["id"];
      comment.textContent = data[0]["text"];
      commenterNmae.textContent = data[0]["userName"];
      teaNmae.textContent = data[0]["teaName"];
    }
  </script>

  <div id="Block-3" class="flex flex-col items-center justify-center">
    <div class="flex Headline-2 text-light mb-12">Delete</div>
    <p class="Text text-light">Delete one of your comments</p>

    <div
      class="flex flex-row overflow-x-scroll gap-12 flex-nowrap pt-16 w-11/12"
      id="deleteCommentSection"
    >
    </div>
  </div>

  <script type="module">
    let data;
    let teaName = "An Ju Bai Cha";

    document.addEventListener("DOMContentLoaded", () => {
      fetch("/api/get_comments", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ teaName })
      })
        .then((response) => response.json())
        .then((data_from_db) => {
          data = data_from_db;
          renderCommentsBar();
        })
        .catch((error) => console.error("Error fetching initial data:", error));
    });

    function renderCommentsBar() {
      const carousel = document.getElementById("deleteCommentSection");

      data.map((comment) => {
        console.log(comment);

        const teaForm = document.createElement("form");

        teaForm.setAttribute("action", "");
        teaForm.setAttribute("method", "post");

        teaForm.className = "flex flex-col";

        teaForm.innerHTML = `
    <div
        class="h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0"
        >
        <div class="flex flex-row justify-between pt-6 px-6">
          <div class="flex flex-row gap-6">
              <img src="" alt="" class="w-12 h-12 rounded-full bg-dark-green" />
              <div class="flex flex-col">
                <input type="hidden" name="comment_id" id="commentId" value=${comment.id} />

                <p class="Subheadline text-black">${comment.userName}</p>
                <p class="Text text-black">${comment.location}</p>
              </div>
          </div>
          <p class="text-black Subheadline">4.5</p>
        </div>
        <p class="Text text-black pb-6 px-6 overflow-scroll text-justify">
          "${comment.text}"
        </p>
    </div>
    <button 
        name="form_type" 
        value="Delete"
        class="bg-color w-min py-1 px-4 rounded-xl text-black mt-2"
        id="delete_button">Delete</button
        >
`;

        carousel.appendChild(teaForm);
      });
    }
  </script>

  <div id="Block-4" class="flex pt-16 mx-16 flex-col items-center">
    <div class="flex Headline-2 text-light mb-12">Connect them all</div>

    <p class="Text text-light">
      Here, I will connect all databases and show that they are connected,
      because I have three database tables: Tea, Comments, and Recipes. They are
      connected through the tea_id
    </p>

    <div class="flex pt-16 justify-evenly w-[64rem]">
      <div class="bg-black flex flex-col items-center">
        <p class="Subheadline">Tea Name</p>
        <p id="teaName" class="Text">An Ju Bai Cha</p>
      </div>
      <div class="bg-black flex flex-col items-center">
        <p class="Subheadline">Tea Comments</p>
        <p id="teaComments" class="Text">A</p>
      </div>
      <div class="bg-black flex flex-col items-center">
        <p class="Subheadline">Tea Resapys</p>
        <p id="teaResapys" class="Text">A</p>
      </div>
    </div>
  </div>
</Layout>
