---
import Layout from "src/layouts/layout.astro";
import BackgroundImige from "@global/backgroundImige.astro";
import NiceButton from "@global/niceButton.astro";

const articles = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5];

const Block2DataTabs = [
  {
    name: "Green Tea's",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    Buttonlink: "/teaList/",

    img: [
      "Green Tea/zalioji-arbata-citrusu-vejas",
      "Green Tea/zalioji-arbata-jasmine-white-bud",
      "Green Tea/zalioji-arbata-milk-dragon-pearl",
      "Green Tea/zalioji-nepalo-arbata-sandakphu-snow",
      "Green Tea/zalioji-nepalo-arbata-spring-needles"
    ],

    link: ["#", "#", "#", "#", "#"],

    id: 1
  },
  {
    name: "White Tea's",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    link: "#",
    id: 2
  },
  {
    name: "Black Tea's",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    link: "#",
    id: 3
  }
];
---

<Layout title="The Tea List" language="en">
  <div id="Block-1">
    <div class="h-screen w-screen overflow-hidden">
      <div
        id="DarkSideBar"
        class="absolute w-full h-full right-0 z-10 from-true-black/90 bg-gradient-to-r opacity-95"
      >
      </div>
      <img
        id="TheBackGorundImage"
        class="h-auto w-screen Background object-cover origin-center"
        src={"/img/background/4cab0c59f687caecc49177923efdc0d3.png"}
        alt="Tea"
      />

      <div
        id="Text"
        class="absolute flex flex-col gap-4 content-center items-center w-[44rem] TeaCupText top-[25%] left-[10%] z-20"
      >
        <p class="Headline-2 mr-48">
          Our Tea<br /> &nbsp;&nbsp;&nbsp;&nbsp;Collection
        </p>
        <p class="Text text-center pb-4">
          Explore our curated collection of teas, each offering a unique flavor
          and experience. Take a moment to steep in the variety
        </p>
      </div>
    </div>
  </div>

  <div id="Block-2" class="flex flex-row mt-16">
    <div class="w-3/12 flex flex-col gap-10 items-center mt-8">
      {
        Block2DataTabs.map((data) => (
          <button class="focus:text-light focus:underline bg-transparent px-3 py-2 rounded flex  text-light/50 TeaSelection ">
            <p
              id="Block2DataTabs-p"
              class="Headline-3 text-inherit leading-none"
            >
              {data.name}
            </p>
            <div class="h-full ml-2 w-10 bg-black invisible" />
          </button>
        ))
      }
    </div>

    <div class="w-9/12 flex flex-row flex-wrap gap-x-16 gap-y-12">
      {
        articles.map((article: any) => (
          <div class="w-[19rem] h-[24rem]  relative rounded-xl  group">
            <!-- Image with hover brightness effect -->
            <img
              src="img/recipes/pexels-charlotte-may-5946652.jpg"
              alt=""
              class="absolute h-full w-full object-cover -z-10 rounded-xl transition-all duration-300 brightness-[0.8] group-hover:brightness-100"
            />
            <div class="h-full w-full flex flex-col justify-between">
              <div class="flex flex-row justify-between">
                <p class="m-3 text-light Subheadline">Tea Name</p>
                <img
                  src="/svg/heart.svg"
                  alt="Logo"
                  class="m-3 w-5 fill-none"
                />
              </div>
              <div class="flex justify-end m-3">
                <button class="border-2 rounded-lg py-1 px-4">
                  <p class="Caption">Learn more</p>
                </button>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <style>
      .Background {
        transform: scaleX(-1) translateY(-60%);
      }
    </style>
  </div></Layout
>
