---
import Layout from "src/layouts/layout.astro";
---

<Layout title="Tea today is delicious" language="en">
  <div class="bg-black" id="block-1">
    <div class="relative w-screen h-screen">
      <div
        class="w-2/3 absolute left-0 bg-red-500 h-full"
        style="clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);"
      >
      </div>

      <div
        class="w-2/3 absolute right-0 bg-blue-500 h-full"
        style="clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);"
      >
      </div>

      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-white text-center"
      >
        <p class="Headline-3">The Story Behind Our Project</p>
        <p class="Headline-1">Meet the Tea-m</p>
        <p class="Text">
          We are two enthusiastic tea drinkers who find joy in every sip of tea.
        </p>
      </div>
      <div>
        <p class="absolute bottom-16 left-24 Headline-1">Justinas</p>
        <p class="absolute top-16 right-24 Headline-1">Ninn</p>
      </div>
    </div>
  </div>

  <div id="block-2" class="m-24 flex justify-center">
    <div class="flex flex-row gap-32">
      <div
        class="flex-col flex gap-4 bg-light w-[48rem] h-[28rem] p-16 rounded-2xl text-black"
      >
        <p class="Headline-2 leading-tight text-black">JustPause</p>
        <p class="Text text-justify text-black h-40">
          A passionate tea enthusiast who has a deep affection for black tea,
          especially when it’s brewed perfectly and combined with a splash of
          creamy milk.
        </p>

        <div class="flex flex-row gap-2 items-center">
          <svg
            width="45"
            height="46"
            viewBox="0 0 45 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_246_3544)">
              <path
                d="M34.0133 7.73926H8.55223C7.87696 7.73926 7.22935 8.00751 6.75186 8.485C6.27437 8.96248 6.00612 9.6101 6.00612 10.2854V35.7465C6.00612 36.4217 6.27437 37.0693 6.75186 37.5468C7.22935 38.0243 7.87696 38.2926 8.55223 38.2926H25.8483C26.1827 38.2931 26.5139 38.2274 26.8228 38.0993C27.1317 37.9713 27.4122 37.7833 27.6481 37.5462L35.8131 29.3812C36.0501 29.1453 36.2381 28.8648 36.3662 28.5559C36.4943 28.247 36.56 27.9158 36.5594 27.5814V10.2854C36.5594 9.6101 36.2912 8.96248 35.8137 8.485C35.3362 8.00751 34.6886 7.73926 34.0133 7.73926ZM16.1906 16.6506H26.375C26.7126 16.6506 27.0364 16.7848 27.2752 17.0235C27.5139 17.2623 27.6481 17.5861 27.6481 17.9237C27.6481 18.2613 27.5139 18.5851 27.2752 18.8239C27.0364 19.0626 26.7126 19.1968 26.375 19.1968H16.1906C15.8529 19.1968 15.5291 19.0626 15.2904 18.8239C15.0516 18.5851 14.9175 18.2613 14.9175 17.9237C14.9175 17.5861 15.0516 17.2623 15.2904 17.0235C15.5291 16.7848 15.8529 16.6506 16.1906 16.6506ZM21.2828 29.3812H16.1906C15.8529 29.3812 15.5291 29.2471 15.2904 29.0083C15.0516 28.7696 14.9175 28.4458 14.9175 28.1081C14.9175 27.7705 15.0516 27.4467 15.2904 27.2079C15.5291 26.9692 15.8529 26.8351 16.1906 26.8351H21.2828C21.6204 26.8351 21.9442 26.9692 22.183 27.2079C22.4217 27.4467 22.5558 27.7705 22.5558 28.1081C22.5558 28.4458 22.4217 28.7696 22.183 29.0083C21.9442 29.2471 21.6204 29.3812 21.2828 29.3812ZM16.1906 24.289C15.8529 24.289 15.5291 24.1548 15.2904 23.9161C15.0516 23.6774 14.9175 23.3536 14.9175 23.0159C14.9175 22.6783 15.0516 22.3545 15.2904 22.1157C15.5291 21.877 15.8529 21.7429 16.1906 21.7429H26.375C26.7126 21.7429 27.0364 21.877 27.2752 22.1157C27.5139 22.3545 27.6481 22.6783 27.6481 23.0159C27.6481 23.3536 27.5139 23.6774 27.2752 23.9161C27.0364 24.1548 26.7126 24.289 26.375 24.289H16.1906ZM26.375 35.2197V28.1081H33.4882L26.375 35.2197Z"
                fill="#394132"></path>
              <path
                d="M45.8075 7.95759L45.8075 7.95665C45.8058 6.47712 45.2174 5.05867 44.1712 4.01248C43.125 2.9663 41.7065 2.37782 40.227 2.37615H40.2261C38.7556 2.37615 37.4058 2.88834 36.3973 3.80586C35.3889 2.88834 34.039 2.37615 32.5686 2.37615L32.5676 2.37615C31.0881 2.37782 29.6697 2.9663 28.6235 4.01248C27.5773 5.05867 26.9888 6.47712 26.9871 7.95665V7.95759C26.9871 11.0279 29.2342 13.6684 31.2878 15.4668C33.3778 17.2972 35.5043 18.4598 35.7148 18.5715C35.9247 18.6838 36.1592 18.7427 36.3973 18.7427C36.6355 18.7427 36.8699 18.6839 37.0798 18.5715C37.2902 18.4599 39.4168 17.2973 41.5069 15.4668C43.5604 13.6684 45.8075 11.0279 45.8075 7.95759Z"
                fill="#394132"
                stroke="#F4F0E5"
                stroke-width="1.66763"></path>
            </g>
            <defs>
              <clipPath id="clip0_246_3544">
                <rect
                  width="44.8457"
                  height="44.8457"
                  fill="white"
                  transform="translate(0 0.654297)"></rect>
              </clipPath>
            </defs>
          </svg>

          <p class="Text text-black">Whiskey shot</p>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <svg
            width="45"
            height="46"
            viewBox="0 0 45 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_246_3549)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.13321 17.8863C4.03397 17.0368 3.98442 16.6127 4.00435 16.26H4.00835C4.06183 15.3632 4.41567 14.5105 5.01286 13.8393C5.61006 13.168 6.41583 12.7174 7.30035 12.56C7.64835 12.5 8.07835 12.5 8.93835 12.5H14.4529V16.3889L11.9999 18.7222V26.5H19.7777V18.7222L17.4444 16.3889V12.5H30.0703C30.9303 12.5 31.3623 12.5 31.7103 12.56C32.1438 12.6376 32.5614 12.7863 32.9463 13H37.5043C39.4935 13 41.4011 13.7902 42.8076 15.1967C44.2142 16.6032 45.0043 18.5109 45.0043 20.5C45.0043 22.4891 44.2142 24.3968 42.8076 25.8033C41.4011 27.2098 39.4935 28 37.5043 28H33.1743C32.301 29.9359 30.8877 31.5788 29.1041 32.7317C27.3205 33.8846 25.2421 34.4986 23.1183 34.5H15.8903C13.1872 34.4997 10.5783 33.5068 8.55899 31.7098C6.53966 29.9128 5.25053 27.4368 4.93635 24.752L4.13435 17.896L4.13321 17.8863ZM35.0063 16.26C35.001 16.1733 34.993 16.0867 34.9823 16H37.5043C38.6978 16 39.8424 16.4741 40.6863 17.318C41.5302 18.1619 42.0043 19.3065 42.0043 20.5C42.0043 21.6935 41.5302 22.8381 40.6863 23.682C39.8424 24.5259 38.6978 25 37.5043 25H34.0443L34.0763 24.752L34.8783 17.896C34.9783 17.04 35.0263 16.614 35.0063 16.26Z"
                fill="#394132"></path>
              <path
                d="M41.9866 8.24763L41.9866 8.24669C41.9849 6.76716 41.3964 5.34871 40.3502 4.30252C39.304 3.25633 37.8856 2.66785 36.406 2.66619H36.4051C34.9347 2.66619 33.5848 3.17838 32.5764 4.0959C31.5679 3.17838 30.2181 2.66619 28.7476 2.66619L28.7467 2.66619C27.2672 2.66785 25.8487 3.25633 24.8025 4.30252C23.7563 5.34871 23.1679 6.76716 23.1662 8.24669V8.24763C23.1662 11.3179 25.4133 13.9585 27.4668 15.7569C29.5568 17.5872 31.6833 18.7498 31.8938 18.8615C32.1038 18.9739 32.3382 19.0327 32.5764 19.0327C32.8145 19.0327 33.049 18.9739 33.2589 18.8615C33.4692 18.7499 35.5958 17.5873 37.6859 15.7569C39.7395 13.9585 41.9866 11.3179 41.9866 8.24763Z"
                fill="#394132"
                stroke="#F4F0E5"
                stroke-width="1.66763"></path>
            </g>
            <defs>
              <clipPath id="clip0_246_3549">
                <rect
                  width="44.8457"
                  height="44.8457"
                  fill="white"
                  transform="translate(0 0.5)"></rect>
              </clipPath>
            </defs>
          </svg>

          <p class="Text text-black">Black tea with milk</p>
        </div>
      </div>

      <div
        class="flex-col flex gap-4 bg-light w-[48rem] h-[28rem] p-16 rounded-2xl text-black"
      >
        <p class="Headline-2 leading-tight text-black">Ninn</p>
        <p class="Text text-justify text-black h-40">
          Spilling the tea? More like savouring life’s little secrets, one warm
          cup at a time.
        </p>

        <div class="flex flex-row gap-2 items-center">
          <svg
            width="45"
            height="46"
            viewBox="0 0 45 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_246_3544)">
              <path
                d="M34.0133 7.73926H8.55223C7.87696 7.73926 7.22935 8.00751 6.75186 8.485C6.27437 8.96248 6.00612 9.6101 6.00612 10.2854V35.7465C6.00612 36.4217 6.27437 37.0693 6.75186 37.5468C7.22935 38.0243 7.87696 38.2926 8.55223 38.2926H25.8483C26.1827 38.2931 26.5139 38.2274 26.8228 38.0993C27.1317 37.9713 27.4122 37.7833 27.6481 37.5462L35.8131 29.3812C36.0501 29.1453 36.2381 28.8648 36.3662 28.5559C36.4943 28.247 36.56 27.9158 36.5594 27.5814V10.2854C36.5594 9.6101 36.2912 8.96248 35.8137 8.485C35.3362 8.00751 34.6886 7.73926 34.0133 7.73926ZM16.1906 16.6506H26.375C26.7126 16.6506 27.0364 16.7848 27.2752 17.0235C27.5139 17.2623 27.6481 17.5861 27.6481 17.9237C27.6481 18.2613 27.5139 18.5851 27.2752 18.8239C27.0364 19.0626 26.7126 19.1968 26.375 19.1968H16.1906C15.8529 19.1968 15.5291 19.0626 15.2904 18.8239C15.0516 18.5851 14.9175 18.2613 14.9175 17.9237C14.9175 17.5861 15.0516 17.2623 15.2904 17.0235C15.5291 16.7848 15.8529 16.6506 16.1906 16.6506ZM21.2828 29.3812H16.1906C15.8529 29.3812 15.5291 29.2471 15.2904 29.0083C15.0516 28.7696 14.9175 28.4458 14.9175 28.1081C14.9175 27.7705 15.0516 27.4467 15.2904 27.2079C15.5291 26.9692 15.8529 26.8351 16.1906 26.8351H21.2828C21.6204 26.8351 21.9442 26.9692 22.183 27.2079C22.4217 27.4467 22.5558 27.7705 22.5558 28.1081C22.5558 28.4458 22.4217 28.7696 22.183 29.0083C21.9442 29.2471 21.6204 29.3812 21.2828 29.3812ZM16.1906 24.289C15.8529 24.289 15.5291 24.1548 15.2904 23.9161C15.0516 23.6774 14.9175 23.3536 14.9175 23.0159C14.9175 22.6783 15.0516 22.3545 15.2904 22.1157C15.5291 21.877 15.8529 21.7429 16.1906 21.7429H26.375C26.7126 21.7429 27.0364 21.877 27.2752 22.1157C27.5139 22.3545 27.6481 22.6783 27.6481 23.0159C27.6481 23.3536 27.5139 23.6774 27.2752 23.9161C27.0364 24.1548 26.7126 24.289 26.375 24.289H16.1906ZM26.375 35.2197V28.1081H33.4882L26.375 35.2197Z"
                fill="#394132"></path>
              <path
                d="M45.8075 7.95759L45.8075 7.95665C45.8058 6.47712 45.2174 5.05867 44.1712 4.01248C43.125 2.9663 41.7065 2.37782 40.227 2.37615H40.2261C38.7556 2.37615 37.4058 2.88834 36.3973 3.80586C35.3889 2.88834 34.039 2.37615 32.5686 2.37615L32.5676 2.37615C31.0881 2.37782 29.6697 2.9663 28.6235 4.01248C27.5773 5.05867 26.9888 6.47712 26.9871 7.95665V7.95759C26.9871 11.0279 29.2342 13.6684 31.2878 15.4668C33.3778 17.2972 35.5043 18.4598 35.7148 18.5715C35.9247 18.6838 36.1592 18.7427 36.3973 18.7427C36.6355 18.7427 36.8699 18.6839 37.0798 18.5715C37.2902 18.4599 39.4168 17.2973 41.5069 15.4668C43.5604 13.6684 45.8075 11.0279 45.8075 7.95759Z"
                fill="#394132"
                stroke="#F4F0E5"
                stroke-width="1.66763"></path>
            </g>
            <defs>
              <clipPath id="clip0_246_3544">
                <rect
                  width="44.8457"
                  height="44.8457"
                  fill="white"
                  transform="translate(0 0.654297)"></rect>
              </clipPath>
            </defs>
          </svg>
          <p class="Text text-black">Pumpkin Chai Tea Latte</p>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <svg
            width="45"
            height="46"
            viewBox="0 0 45 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_246_3549)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.13321 17.8863C4.03397 17.0368 3.98442 16.6127 4.00435 16.26H4.00835C4.06183 15.3632 4.41567 14.5105 5.01286 13.8393C5.61006 13.168 6.41583 12.7174 7.30035 12.56C7.64835 12.5 8.07835 12.5 8.93835 12.5H14.4529V16.3889L11.9999 18.7222V26.5H19.7777V18.7222L17.4444 16.3889V12.5H30.0703C30.9303 12.5 31.3623 12.5 31.7103 12.56C32.1438 12.6376 32.5614 12.7863 32.9463 13H37.5043C39.4935 13 41.4011 13.7902 42.8076 15.1967C44.2142 16.6032 45.0043 18.5109 45.0043 20.5C45.0043 22.4891 44.2142 24.3968 42.8076 25.8033C41.4011 27.2098 39.4935 28 37.5043 28H33.1743C32.301 29.9359 30.8877 31.5788 29.1041 32.7317C27.3205 33.8846 25.2421 34.4986 23.1183 34.5H15.8903C13.1872 34.4997 10.5783 33.5068 8.55899 31.7098C6.53966 29.9128 5.25053 27.4368 4.93635 24.752L4.13435 17.896L4.13321 17.8863ZM35.0063 16.26C35.001 16.1733 34.993 16.0867 34.9823 16H37.5043C38.6978 16 39.8424 16.4741 40.6863 17.318C41.5302 18.1619 42.0043 19.3065 42.0043 20.5C42.0043 21.6935 41.5302 22.8381 40.6863 23.682C39.8424 24.5259 38.6978 25 37.5043 25H34.0443L34.0763 24.752L34.8783 17.896C34.9783 17.04 35.0263 16.614 35.0063 16.26Z"
                fill="#394132"></path>
              <path
                d="M41.9866 8.24763L41.9866 8.24669C41.9849 6.76716 41.3964 5.34871 40.3502 4.30252C39.304 3.25633 37.8856 2.66785 36.406 2.66619H36.4051C34.9347 2.66619 33.5848 3.17838 32.5764 4.0959C31.5679 3.17838 30.2181 2.66619 28.7476 2.66619L28.7467 2.66619C27.2672 2.66785 25.8487 3.25633 24.8025 4.30252C23.7563 5.34871 23.1679 6.76716 23.1662 8.24669V8.24763C23.1662 11.3179 25.4133 13.9585 27.4668 15.7569C29.5568 17.5872 31.6833 18.7498 31.8938 18.8615C32.1038 18.9739 32.3382 19.0327 32.5764 19.0327C32.8145 19.0327 33.049 18.9739 33.2589 18.8615C33.4692 18.7499 35.5958 17.5873 37.6859 15.7569C39.7395 13.9585 41.9866 11.3179 41.9866 8.24763Z"
                fill="#394132"
                stroke="#F4F0E5"
                stroke-width="1.66763"></path>
            </g>
            <defs>
              <clipPath id="clip0_246_3549">
                <rect
                  width="44.8457"
                  height="44.8457"
                  fill="white"
                  transform="translate(0 0.5)"></rect>
              </clipPath>
            </defs>
          </svg>
          <p class="Text text-black">Jasmin Tea</p>
        </div>
      </div>
    </div>
  </div>

  <div
    id="block-3"
    class="w-screen h-screen flex items-center justify-center bg-color"
  >
    <div class="flex flex-col items-center gap-16">
      <p class="Headline-2 text-black">Thank you!</p>
      <p class="Text text-center w-[38rem] text-black">
        Lorem ipsum dolor sit amet consectetur. Duis feugiat sem sed mattis
        massa lectus. Massa facilisis magna cras tortor auctor. Elit phasellus
        leo laoreet nisl nulla urna consequat mi elementum. Dictum scelerisque
        sapien turpis parturient at sit eu sed tortor.
      </p>
    </div>
  </div>
</Layout>
