---
interface Post {
  frontmatter: {
    title: string;
    bg_img: string;
    url: string;
    hover_text: string;
  };
}

const setBackgroundImage = (bg_img) => {
  return {
    backgroundImage: `url('/img/teas/${bg_img}.webp')`,
    backgroundPosition: `center`,
    backgroundSize: `contain`,
  };
};

const posts = Object.values(
  await import.meta.glob<Post>("../posts/tea/*.md", { eager: true })
).slice(0, 6);
---

<div id="list-div" class="relative flex flex-shrink-0 justify-center mb-80">
  <div
    class="absolute -top-4 inline-flex overflow-hidden flex-row flex-nowrap items-start gap-fing self justify-center"
    id="list"
  >
    {
      posts.map((post) => (
        <div
          class="card bg-slate-500 rounded-2xl z-10"
          style={setBackgroundImage(post.frontmatter.bg_img)}
        >
          <p class="text-textColor-light px-3">{post.frontmatter.title}</p>
        </div>
      ))
    }
  </div>
</div>

<style scoped>
  .card {
    width: 14em;
    height: 18em;
  }
  .theCardSepereitor {
    margin-bottom: 80rem;
  }

  .gap-fing {
    gap: 2rem;
  }
</style>
