---
// import * as tea from "../posts/black tea.md";
// const posts = Object.values(
//   await import.meta.glob("../posts/*.md", { eager: true })
// );
---

<div class="flex-shrink-0">
  <!-- <a id="Black Tea">Black Tea</a>
    <a id="Green Tea">Green Tea</a>
    <a id="Fruit Tea">Fruit Tea</a>
    <a id="Rooibos Tea">Rooibos Tea</a> -->

  <div class="inline-flex flex-col items-start gap-8 bg-slate-50 ">
    <div class="card"></div>
    
  </div>
</div>

<style scoped>
  .card {
    height: 388px;
    width: 304px;
  }
</style>
