---
import * as tea from "../posts/black_tea.md";
interface Post {
  frontmatter: {
    title: string;
    description: string;
    date: string;
  };
}

const posts = Object.values(
  await import.meta.glob<Post>("../posts/*.md", { eager: true })
);
---

<div class="flex flex-shrink-0 justify-center">
  <div class="inline-flex overflow-hidden flex-row items-start gap-16 self">
    {
      posts.map((post) => {
        const postSmall = post.frontmatter;
        return (
          <div class="card bg-slate-500" key={postSmall.title}>
            {postSmall.title}
          </div>
        );
      })
    }
  </div>
</div>

<style scoped>
  .card {
    width: 14em;
    height: 18em;
  }
</style>
