<div class="flex flex-row flex-wrap">
  <div class="card bg-slate-400 m-4">a</div>
  <div class="card bg-slate-400 m-4">a</div>
  <div class="card bg-slate-400 m-4">a</div>
  <div class="card bg-slate-400 m-4">a</div>
  <div class="card bg-slate-400 m-4">a</div>
  <div class="card bg-slate-400 m-4">a</div>
</div>

<style>
  .card {
    width: 10em;
    height: 10em;
  }
</style>
