<div
  id="logo"
  class="hidden text-inherit flex-shrink-0 items-center sm:justify-start
sm:flex"
>
  <!-- <img class="h-8 w-auto px-2" src="/public/favicon.svg" alt="Your Company"> -->
  <p class="text-inherit">Logo</p>
</div>
